body{
    align-items: center;
    text-align: center;
}
table,th,td{
    margin-left: auto;  
    padding: 10px;
    margin-right: auto;  
    text-align: center;
    border: 3px double black;
    border-collapse: collapse;
}
img{
    width: 100px;
    height: 100px;
}