
<div class="row">
    <div class="col s12 m5">
        <div class="center"></div>
<!-- data-Binding -->
    <input type="text" class="input"  [value]="name" (input)="name=$any($event.target).value">
    <input type="text" [(ngModel)]="name">
    <h6>Name :- {{name | titlecase}}</h6><br>
    <input type="date" [(ngModel)]="date">

    <!-- data-Binding And Pip -->
    <h6>Date :- {{date | date:' dd / MM / YYYY'}}</h6>
    <h6>Date :- {{date | date:'fullDate'}}</h6>
    <!--  -->
    <button class="btn red"(click)="Clicked()">Button</button>

    <ul>
        <li *ngFor="let f of cars">Car's Name : - {{f}}</li>
    </ul>
    
    <!-- event binding and directives -->
    <input type="text" [(ngModel)]="fname">
    <button (click)="show()">SHOW</button>
    <p *ngIf="display">Above input Text :- {{fname}}</p>
</div>
</div>
