.group {
    padding-left: 20px;
    margin-left: 10px;
}
.groupdiv {
    display: block;
}
#showfieldset {
    /*display: none;*/
}
#spouseshow {
    display: none;
}
#expenseshow {
    display: none;
}
.drugtable,
td,
th {
    border: 3px solid blue;
    border-collapse: collapse;
}
fieldset {
    border: 4px solid lightblue;
    margin-top: 10px;
}
